/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero-img {
  margin-left: 5%;
}
.txt-1 {
  font-size: 20px;
}
.client_imgs {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 640px) {
  .m1 {
    justify-content: center;
  }

  .txt-1 {
    font-size: 16px;
  }
  .txt-2 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .client_imgs {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 320px) {
  .txt-1 {
    font-size: 10px;
  }

  .txt-2 {
    font-size: 8px;
  }
}

/* .bg-fx {
  background-image: url("./Assets/bg1.jpg");
  background-image: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dW5pdmVyc2l0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .bg-text {
  color: white;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  margin-top: -75px;
} */

.ul-1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width:580px) {
.ul-1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}    
}
